language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
# command to install dependencies
install:
  - pip install coveralls
# command to run tests
script:
  - coverage run setup.py test
# command to run after success
after_success:
  - coveralls
